nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-option {
    margin: 10px;
}

.form-section {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.input {
    margin: 10px;
}

.form-checkbox {
    margin: 10px;
}